{% extends 'templates/main.twig' %}
{% block content %}
    <div class='row'>
        <div class="offset-by-two eight columns" style="margin-top: 15%">

            <h2>{{ headling }}</h2>

            <h3>{{ msg|raw }}</h3>

        </div>

    </div>
{% endblock %}
